/** @format */

.main-container {
  grid-area: main;
}
.explore-wrapper {
  margin: 2rem;
  padding-bottom: 2rem;
}

.loader-position{
  display: inline-block;
  position: sticky;
  width: 40px;
  height: 40px;
  top: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 9999;
}
.loader-position div{
  
width: 34px;
height: 34px;
}

.explore-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.explore-category {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 480px) {
  .explore-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
  .explore-category {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
}
