/** @format */

.main-container {
  grid-area: main;
}
.explore-wrapper {
  margin: 2rem;
}

.explore-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.explore-category {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 780px) {
  .explore-category {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 480px) {
  .explore-category {
    overflow-x: scroll;
  }
}
