/** @format */

.playlist-card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 52, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: var(--bg-color);
  font-size: 3rem;
}
