/** @format */

.watchlater-wrapper {
  margin: 2rem;
}
.background-color {
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
}
.video-card-wrapper {
  margin-top: 2rem;
}
.clear {
  margin-top: 1rem;
}
.clear > button {
  background-color: var(--bg-btn-signup-color);
  color: var(--heading-text-color);
}
