/** @format */

.sidebar-wrapper {
  grid-area: sidebar;
  width: 15rem;
  height: 100vh;
  background-color: white;
}
.sidebar-content {
  height: 100%;
}
.sidebar-content > * + * {
  margin-bottom: 2rem;
}

.sidebar-head {
  padding: 1rem;
}

.sidebar-logo {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-left: 1rem;
}

.sidbar-nav-items > * {
  margin-top: 1rem;
}

.sidebar-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  width: 100%;
}
.sidebar-items:hover {
  background: var(--bg-color-link-hover);
  color: black;
}

.nav-link-active {
  color: var(--primary-color);
  font-weight: 600;
  background: var(--bg-color-link-active);
}

.sidebar-user {
  margin-top: auto;
  margin-bottom: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .sidebar-wrapper {
    grid-area: sidebar;

    width: 5rem;
    height: 100vh;
    background-color: white;
  }
  .nav-title {
    display: none;
  }
  .sidebar-logo {
    display: none;
  }
}
