/** @format */

.video-wrapper {
  margin: 2rem;
  width: 90%;
}
.video-player {
  height: 30rem;
}
.react-player {
  border-radius: 10px;
  overflow: hidden;
}
.video-content {
  margin: 1rem 0;
}
.video-head {
  gap: 0.5rem;
}
.video-title {
  color: var(--heading-text-color);
}
.video-views {
  color: #949393;
}
.video-action {
  width: 20rem;
  margin-bottom: 2rem;
}
.btn-title {
  text-align: center;
}
.video-creator {
  margin-bottom: 1rem;
}
.video-creator > a {
  color: inherit;
  text-decoration: none;
  color: var(--heading-text-color);
}

.loading {
  position: absolute;
  top: 50%;
}

@media only screen and (max-width: 780px) {
  .video-player {
    height: 20rem;
  }
}
@media only screen and (max-width: 480px) {
  .video-player {
    height: 10rem;
  }
}
