/** @format */

.header-wrapper {
  grid-area: header;
  background-color: white;
  height: 4rem;
  padding: 0 2rem;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-bar > input {
  background-color: var(--bg-input-color);
  border: 2px solid transparent;
  padding: 8px 12px;
  width: 100%;
}

.auth-action-wrapper {
  margin-left: 1rem;
  width: 14rem;
}

.login-btn,
.signup-btn {
  align-items: center;
  display: flex;
  font-weight: 700;
  height: 2.5rem;
  text-decoration: none;
  color: white;
}

.login-btn {
  background-color: #ececec;
  color: #333;
}

@media only screen and (max-width: 700px) {
  .search-bar {
    width: 100%;
  }
  .search-bar > input {
    background-color: var(--bg-input-color);
    border: 2px solid transparent;
    padding: 8px 12px;
    width: 100%;
  }

  .signup-btn {
    display: none;
  }
}
