/** @format */
.hero-wrapper {
  padding: 1rem 4rem;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 52, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
.hero-title-head {
  font-size: clamp(2rem, 4vw, 5rem);
}
.hero-title-subhead {
  font-size: clamp(1rem, 3vh, 2rem);
}

.hero-action {
  margin: 1rem 0;
}
.hero-action > button {
  color: black;
  font-family: "poppins";
  font-weight: 500;
  background: white;
  border-radius: 4px;
  width: 12rem;
}
button > img {
  margin-left: 0.5rem;
}
